<h2 class="text-center" data-bind="text: title"></h2>

<div class="row">

	<a href="#/category/add" class="btn btn-success">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
	</a>

	<form method="delete" action="#/categories" style="display: inline">
		<button type="submit" class="btn btn-danger">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete all
		</button>
	</form>

</div>

<hr />

<div class="list-group" data-bind="foreach: items">

	<a class="list-group-item" data-bind="attr: {href: '#/category/edit/' + $data.id()}, text: $data.label"></a>

</div>

<div data-bind="visible: items().length == 0">
	<div class="alert alert-info" role="alert">Nothing in categories</div>
</div>