<h2 class="text-center" data-bind="text: title"></h2>

<form data-bind="attr: { action: action, method: item.id() ? 'put' : 'post' }, with: item">

	<div class="form-group">
		<label for="category_label">Word</label><br />
		<input type="text" name="label" id="category_label" data-bind="value: label" />
	</div>

	<div class="form-group">
		<label for="category_description">Short description</label><br />
		<textarea name="description" id="category_description" data-bind="value: description"></textarea>
	</div>

	<a href="#/categories" class="btn btn-danger">Cancel</a>
	<button type="submit" class="btn btn-success">Add</button>

</form>